@model FinancialPortal.Models.AdminHousehold


@{
	ViewBag.Title = "RemoveFromHouse";
}


<html>
<body>


	<div class="right_col" role="main">
		<div class="">

			@*<div class="clearfix"></div>*@
			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<div class="x_panel">
						<div class="x_title">
							<h1>Add Person To Household <small></small></h1>
							<div class="x_content">

							</div>
							@*<div class="clearfix"></div>*@
						</div>
						<div class="x_content">
							<p class="text-muted font-13 m-b-30">

							</p>

							<p>



								@using (Html.BeginForm("AdminHouseholds"))
		{
						@Html.AntiForgeryToken()
						@Html.HiddenFor(m => m.Household.Id)
						@Html.HiddenFor(m => m.RmvUser.Id)

						@Html.DisplayFor(model => model.Household.Name)
						@*@Html.DisplayFor(model => model.Project.Id)*@
						<br />
						<br />

						@Html.DisplayFor(model => model.RmvUser.FullName)


						@*@Html.Display(m => m.RmvUser)*@
						@*ok need this changed, just one user*@
						<br />
						<br />
						<br />
						<h5>
							Are you sure you want to remove this User from the project?
						</h5>
						<br />
						<p><input type="submit" class="btn btn-info" /></p>

}

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>




		@section Scripts {
			@Scripts.Render("~/bundles/jqueryval")
		}
	</body>
</html>

